<?xml version='1.0' encoding='utf-8'?>
<widget id="com.broncohack.fanzone" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FanZone</name>
    <description>
        Hackathon app
    </description>
    <author email="vmodalavalasa@scu.edu" href="http://broncohack.com">
        Sai, Rohit, Anusha, Bhavik
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
